.section_1{
    height: 350px;
    width: 375px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    
}
.titulo{
    height: 50px;
    padding-top: 30px;
    
}
.papa{
    margin: 13px 0px 0px 100px;
}
.titulo h2{
    float: right;
    margin: 5px 120px 0px 0px;
    font-size: 30px;
    color: #F7931A ;
}
.textos{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}
.textmin{
    color: white;
    padding-top: 55px;
    text-align: center;
    font-size: 15px;
}
.section_11{
    height: 100px;
    width: 375px;
    background-color: chocolate;
}