*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
:root{
    --color-amarillo:#F7931A;
    --color-palido:#FFE9D5;
    --color-celeste:#1A9AF7;
    --color-blanco:#E7F5FF;
    --color-cafes1:#201E1C;
    --color-cafe2:#282623;
    --color-gris1:#BABABA;
    --color-gris2:#FAF8F7;
    --color-blanco1:#FFFFFF;
}
<<<<<<< HEAD
body{
<<<<<<< HEAD
    font-size: 62.5%;
=======
=======
html{
>>>>>>> b11831196259cd391a89b5f6cdaea5b5f4be7778
    font-size: 62.5%;/*10px*/
>>>>>>> ebc9416f4acdaa15b906ecfa5981a2893747a89e
    margin: auto;
}